/* Common Styles */
.toy-page-title {
    text-align: center;
    color: #333;
    font-size: 3rem;
    margin: 20px 0;
    /* text-decoration: underline; */
  }
  
  .toy-category-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .toy-category-option {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: bold;
    color: #666;
  }
  
  .toy-active-category {
    color: #27408B;
    text-decoration: underline;
  }
  
  .toy-section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .toy-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .toy-cart-action {
    display: flex;
    align-items: center;
  }
  
  .toy-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .toy-details {
    flex-grow: 1;
  }
  
  .toy-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .toy-meta {
    font-size: 0.9rem;
    color: #888;
  }
  
  .toy-price {
    color: #27408B;
    font-size: 1.25rem;
  }
  
  .toy-rating {
    font-size: 0.9rem;
    color: #555;
  }
  
  .toy-divider {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .toy-add-to-cart-button {
    padding: 10px 20px;
    background-color: #27408B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; /* Add some space between the button and the image */
  }
  
  .toy-add-to-cart-button:disabled {
    background-color: #999;
  }
  
  .toy-added-to-cart {
    color: #27408B;
    font-weight: bold;
  }
  
  .toy-navigation-footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
  }
  
  .toy-nav-link {
    color: #27408B;
    text-decoration: none;
    font-weight: bold;
  }
  